<table>
	<tr>
		<td>
			Name
		</td>
		<td>
			<input type="text" id="name" name="name" value="<%= name %>" required/>
		</td>
	</tr>
	<tr>
		<td>
			Age
		</td>
		<td>
			<input type="text" id="age" name="age" value="<%= age %>" required/>
		</td>
	</tr>
	<tr>
		<td>
			Comments
		</td>
		<td>
			<input type="text" id="comments" name="comments" value="<%= comments %>" required/>
		</td>
	</tr>
	<tr>
		<td  align="left">
			<a class='cancel-link' href='#'>C</a>
		</td>
		<td  align="right">
			<a class='save-link' href='#'>S</a>
		</td>
	</tr>
</table>