.delete-link {
    color: red;
    text-decoration: none;
}

.create-link {
    color: green;
    text-decoration: none;
}

.save-link {
    color: blue;
    text-decoration: none;
}

.cancel-link {
    color: grey;
    text-decoration: none;
}